*{
    margin: 0;
    padding: 0;
    font-family: 'Bodoni', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    min-height: 100vh;
}

.top{
    width: 100%;
    min-height: 60vh;
    background-image: url(https://blogs-images.forbes.com/petertaylor/files/2016/11/MBH-Architectural-Gardens-Exterior-300DPI-1200x800.jpg);
    background-size: cover;
    background-position: center;
}
.top .overlay{
    position: relative;
    width: 100%;
    min-height: inherit;
}

.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: white;
    bottom: 5%;
}

.text h1{
    font-weight: 600;
    font-size: 6.5vw;
}
.rtext{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
}
.rtext p{
    font-size: 12px;
}
.bottom{
    display: flex;
    width: 100%;
    min-height: 40vh;
}

.b1{
    width: 30%;
    min-height: inherit;
    background-image: url(https://anadea.info/uploads/image_attachment/image/3203/hotel-booking.png);
    background-size: cover;
    background-position: center;
}
.b1 h1{
    text-align: center;
    padding: 30px;
}

.b2{
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}
.b2 .up{
    width: 100%;
    min-height: 40vh;
    background-image: url(https://i.pinimg.com/originals/3d/65/98/3d6598f418272467bfe4d184adeb399d.jpg);
    background-size: cover;
    background-position: center;
}
.b2 .up h1{
    text-align: center;
    padding: 30px;
}

.b2 .down{
    width: 100%;
    min-height: 20vh;
    background-image: url(https://lp-cms-production.imgix.net/news/2017/10/34884794003_79b7caebee_k-e1509108009678.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850&q=23&dpr=4);
    background-size: cover;
    background-position: center;
}
.b2 .down .overlay{
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(255, 255, 255, 0.344);
}
.b3{
    width: 40%;
    min-height: inherit;
    background-image: url(https://2.bp.blogspot.com/-LlJxfHoyYOI/Vt4Rq1KO8rI/AAAAAAABRRU/7y_E3_DY6rU/s1600/Top%2B10%2BSantorini%2BHotels%2BWith%2BInfinity%2BPools-passion4luxury.com-3.jpg);
    background-size: cover;
    background-position: center;
}

.b3 .overlay{
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    padding: 4vh 3vh; 
}
.b3 .overlay p{
    padding: 1.2vh;
}
@media(max-width:700px){
    .rtext{
        flex-direction: column;
    }
    .b3 .overlay{
        width:100%;
        margin-left: initial;
    }
}

@media(max-width:500px){
    .text{
    flex-direction:column;
    align-items:flex-start;
}
.text h1{
    font-size:5vh;
}
.text .image{
    height:200px;
    width: 140px;
    margin-top:20px;
}
.rtext{
    flex-direction: column;
    align-items: flex-start;
}
.rtext p{
    margin-top:10px ;
}
.icons{
    margin-top: 10px;
}
.bottom{
    flex-direction: column;
    align-items: flex-start;
}
.b1{
    width: 100%;
}
.b2 {
   width: 100%; 
}
.b2 up{
    min-height: 40vh;
}
.b3{
    width: 100%;
    background-position: left;
}
}

